# Dependency directories
node_modules
npm-debug.log

# Version control
.git
.gitignore

# Environment files
.env
.env.local
.env.*.local

# Build output
dist
build

# IDE-specific files
.vscode
.idea

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage output
coverage

# Logs
*.log

# Temporary files
*.tmp
*.swp